@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  background-color: #f6f6ff;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='date'] {
  cursor: pointer;
}

button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 600;
  border-radius: 30px;
  font-size: 16px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-filter: brightness(97%);
          filter: brightness(97%);
}

input,
select {
  border: 0;
  outline: 0;
  border: 1px solid #ced4da;
  padding: 6px 10px;
  border-radius: 6px;
}

input[type='text'],
input[type='password'],
input[type='number'] {
  text-indent: 4px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='date']:focus,
textarea:focus,
select:focus {
  border-color: #0d6efd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(13, 110, 253, 0.6);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(13, 110, 253, 0.6);
  outline: 0 none;
}

::-webkit-input-placeholder {
  color: #6c757d;
}

:-ms-input-placeholder {
  color: #6c757d;
}

::-ms-input-placeholder {
  color: #6c757d;
}

::placeholder {
  color: #6c757d;
}

.area {
  margin: 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.area .container {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  width: 80%;
}

.area .container .header {
  border-bottom: 1px solid #ced4da;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.area .container .header .left i {
  font-size: 100px;
}

.area .container .header .right .dropdown {
  position: relative;
  display: inline-block;
  margin-right: 28px;
}

.area .container .header .right .dropdown .drop {
  cursor: pointer;
}

.area .container .header .right .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.area .container .header .right .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  font-size: 14px;
}

.area .container .header .right .dropdown:hover .dropdown-content {
  display: block;
}

.area .container .header .right .dropdown:hover .dropdown-content a:hover {
  background-color: #eeeeee;
}

.area .container .header .right p {
  margin: 20px 0;
  font-size: 14px;
  color: #495057;
}

.area .container .header .right a.login button,
.area .container .header .right a.manajemen button,
.area .container .header .right a.home button {
  color: white;
  padding: 10px 12px;
}

.area .container .header .right a.login button {
  background-color: #dc3545;
}

.area .container .header .right a.home button {
  background-color: #198754;
}

.area .container .search {
  margin: 20px 0;
}

.area .container .search input {
  width: 40%;
  border-radius: 24px;
  -webkit-box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.2);
}

.area .container .table-area {
  max-height: 500px;
  max-width: 100%;
  overflow: auto;
}

.area .container .table-area table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.area .container .table-area table tr th {
  background-color: #0d6efd;
  color: white;
  padding: 4px 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 14px;
}

.area .container .table-area table tr th.thScroll {
  top: 30px;
}

.area .container .table-area table tr td {
  font-size: 14px;
  padding: 4px;
}

.area .container .table-area table tr td.aksi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.area .container .table-area table tr td.aksi a.update,
.area .container .table-area table tr td.aksi a.delete,
.area .container .table-area table tr td.aksi a.view {
  margin: 4px;
}

.area .container .table-area table tr td.aksi a.update button,
.area .container .table-area table tr td.aksi a.delete button,
.area .container .table-area table tr td.aksi a.view button {
  font-size: 14px;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.area .container .table-area table tr td.aksi a.update button {
  background-color: #ffc107;
}

.area .container .table-area table tr td.aksi a.delete button {
  background-color: #dc3545;
}

.area .container .table-area table tr td.aksi a.view button {
  background-color: #929292;
}

.area .container .table-area table tr th,
.area .container .table-area table tr td {
  border: 1px solid #ddd;
}

.area .container .table-area table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.area .container .footer {
  margin-top: 20px;
}

.area .container .footer .tambah button {
  background-color: #198754;
  color: white;
  padding: 10px 14px;
}

.area .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 500px;
  overflow: auto;
}

.area .container .content form {
  width: 50%;
}

.area .container .content form .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.area .container .content form .form-input label {
  margin-bottom: 4px;
  font-weight: 500;
}

.area .container .content form .form-input input {
  width: 100%;
}

.area .container .content form .form-input label.notif {
  color: red;
  font-size: 13px;
}

.area .container .content form .form-input.nik {
  cursor: not-allowed;
}

.area .container .content form .form-input.nik input.inputNik {
  pointer-events: none;
}

.area .container .content form .form-input.not {
  cursor: not-allowed;
}

.area .container .content form .form-input.not .pointer {
  pointer-events: none;
}

.area .container .content form .form-button {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.area .container .content form .form-button button {
  background-color: #0d6efd;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  color: white;
}

.area .container .content .image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.area .container .content .image img {
  width: 380px;
}

.area .container .content.form {
  max-height: none;
}

.area .container .ques {
  display: none;
  width: 100%;
}

.area .container .ques .btn-back {
  width: 100%;
  margin-bottom: 20px;
}

.area .container .ques .btn-back form button {
  background-color: #ffc107;
  padding: 10px 14px;
  border-radius: 28px;
  font-weight: 700;
  color: white;
}

.area .container .ques form {
  width: 100%;
}

.area .container .ques form .title {
  margin-bottom: 20px;
  font-size: 20px;
}

.area .container .ques form .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.area .container .ques form .content .form-ques {
  width: 100%;
  margin-bottom: 20px;
}

.area .container .ques form .content .form-ques .radio-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.area .container .ques form .content .form-ques .radio-area .radio-btn {
  margin: 0 10px;
}

.area .container .ques form .ques-button {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.area .container .ques form .ques-button button {
  background-color: #0d6efd;
  padding: 10px 14px;
  color: white;
}

@-webkit-keyframes zoomFade {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomFade {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -200px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -200px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@-webkit-keyframes slideLeftFade {
  0% {
    opacity: 0;
    margin-right: -30px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes slideLeftFade {
  0% {
    opacity: 0;
    margin-right: -30px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .area .container {
    width: 90%;
  }
  .area .container .header .left {
    width: 50%;
  }
  .area .container .content .image img {
    width: 350px;
  }
}

@media screen and (max-width: 992px) {
  .area {
    margin: 40px 30px;
  }
  .area .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .area .container .content form {
    width: 100%;
  }
  .area .container .content .image {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .area .container .content .image img {
    width: 80%;
  }
  .area .container .search input {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .area {
    margin: 20px 10px;
  }
  .area .container {
    width: 90%;
    padding: 20px;
  }
  .area .container .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .area .container .header .left,
  .area .container .header .right {
    width: 100%;
  }
  .area .container .header .right {
    margin-bottom: 10px;
  }
  .area .container .search input {
    width: 80%;
  }
}
/*# sourceMappingURL=styleIndex.css.map */