* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    background-color: $bg;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

input[type='date'] {
    cursor: pointer;
}

button {
    transition: all 0.2s;
    font-weight: 600;
    border-radius: 30px;
    font-size: 16px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

button:hover {
    transform: scale(1.02);
    filter: brightness(97%);
}

input,
select {
    border: 0;
    outline: 0;
    border: 1px solid #ced4da;
    padding: 6px 10px;
    border-radius: 6px;
}

input[type='text'],
input[type='password'],
input[type='number'] {
    text-indent: 4px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='date']:focus,
textarea:focus,
select:focus {
    border-color: #0d6efd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(13, 110, 253, 0.6);
    outline: 0 none;
}

::placeholder {
    color: $gray-600;
}
